# Directorios y archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos generados por compilación
/build/
/app/build/
/*.iml

# Archivos de configuración de Android Studio
.idea/
/.gradle/
/local.properties
*.log

# Archivos de caché de Android Studio
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Archivos de configuración de Gradle
.gradle/
**/build/

# Directorios de distribución
/externalNativeBuild/
.cxx/

# Archivos de caché de IntelliJ
out/

# Archivos de configuración de ejecución
*.jar
*.war
*.ear

# Directorios de configuración locales de Android
/local.properties

# Archivos de configuración del sistema operativo
*.swp
*.swo
*.swm
*~

# Archivos de configuración específicos de Android
/.idea/
/build/
/captures/
/output.json

# Archivos y carpetas de bibliotecas
**/build/
**/bin/
**/local.properties
**/*.keystore
**/*.jks

# Archivos de configuración del entorno
.env
