**/*.pyc
**/.DS_Store
**/.idea
**/.ipynb_checkpoints
*.jar
/build
/app/build
.*gradle

# Ignorar archivos de configuración local y generados
/local.properties

# Ignorar archivos generados por ProGuard
proguard/
proguard-rules.pro